<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>About</title>
</head>

<body style="background-image: url({% static 'images/background.png' %});">
    <header>
        {% include 'menu.html' %}
    </header>
    <main>
        <div class="container">
            <div class="element">
                <div class="element-header">About Me:</div>
                <div class="element-body-v">
                    <div class="about-box-item">
                        <p class="about-title">What is this?</p>
                        <p class="about-text">This is a little website I made for the purpose of showcasing the things I made and also making other things for the purpose of showcasing it here. Who am I?
                        </p>
                    </div>
                    <div class="about-h-box">
                        <div class="about-box-item">
                            <p class="about-title">Who am I?</p>
                            <p class="about-text">I’m Joshua Robert Guest, a well known and brilliant chess player. Indeed
                                that’s true. I assure you. Also I code and design sometimes. Maybe even write music. Details, you know.</p>
                            <p class="about-text">P.S. I haven't found a proper picture of myself for the occasion, so here you have this excellent self-portrait.</p>
                        </div>
                        <img src="{% static 'images/autoportrait.jpg' %}" class="about-image right">
                    </div>
                </div>
            </div>
            <div class="element">
                <div class="element-header">About This Website:</div>
                <div class="element-body-v">
                    <div class="about-h-box">
                        <img src="{% static 'images/pole.jpg' %}" class="about-image left">
                        <div class="about-box-item">
                            <p class="about-title">This place is just me and this pole</p>
                            <p class="about-text">Do you know what can I say about this <i>pole</i> right here? Neither do I, but I know I can say <i>something</i> about it. It will take a while to compose, but it’s not a thing I can’t do.</p> 
                            <p class="about-text">This website is for the things like this pole and also for other things I make, as it is quite convenient to have a website about yourself and your blog in one place, don’t you think so?</p>
                        </div>
                    </div>
                    <div class="about-h-box">
                        <div class="about-box-item">
                            <p class="about-title">What do I post here exactly?</p>
                            <p class="about-text">I’ll just leave here all the things I want to end up here. It may be my drawings, my music or my <i>wonderful</i> stories (absent). Also, like I said before, this is a nice place for my portfolio of a webdesigner and it’s a blog.
                                I plan to write here about some things. Don’t know which just yet, but we’ll figure that out. Poles, perhaps.</p>
                        </div>
                        <img src="{% static 'images/minecraft.png' %}" class="about-image right">
                    </div>
                </div>
            </div>
            <div class="element">
                <div class="element-header">Contact Me:</div>
                <div class="element-body-v">
                    <div class="about-h-box">
                        <div class="about-box-item half-size">
                            <p class="about-title">If you want to contact me for some reason:</p>
                            <ul class="about-text">
                                <li>Email: <a class="link" href="mailto:businessmilkshake@gmail.com" target="_blank">BusinessMilkshake</a></li>
                                <li>Twitter: <a class="link" href="https://twitter.com/MovingMilkshake" target="_blank">MovingMilkshake</a></li> 
                            </ul> 
                        </div>
                        <div class="about-box-item half-size">
                            <p class="about-title">Some other potentially useful links:</p>
                            <ul class="about-text">
                                <li>Fiverr: <a class="link" href="https://www.fiverr.com/movingmilkshake" target="_blank">MovingMilkshake</a></li>
                                <li>Patreon: <a class="link" href="https://www.patreon.com/loktevvladimir" target="_blank">Loktev Vladimir</a></li>
                                <li>Youtube: <a class="link" href="https://www.youtube.com/channel/UCoLcHQT13klJaM5PJt0X1ow" target="_blank">Loktev Vladimir</a></li>
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="element">
                <div class="element-header">Spinning Thingy</div>
                <div class="spinning-thingy"></div>
            </div>
        </div>
    </main>
</body>

</html>
