<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Blog</title>
</head>

<body style="background-image: url({% static 'images/background.png' %});">
<header>
    {% include 'menu.html' %}
</header>
<main>
    <div class="container">
        <div class="content flex-reverse">
            <div class="element">
                <div class="element-header">Blog Posts:</div>
                <div class="element-body-v">
                    {% for post in posts reversed %}
                    {% include 'post.html' %}
                    {% endfor %}
                </div>
            </div>
            <div class="details right">
                <div class="element">
                    <div class="element-header">Useless Component:</div>
                    <div class="element-body-v">
                        <p class="themes" style="margin-bottom: 150px;">Useless information</p>
                        <button class="button" id="usl_btn">Useless Button</button>
                    </div>
                </div>
                <div class="element hidden" style="transition: 0.2s;" id="info">
                    <div class="element-header">Useless info:</div>
                    <div class="element-body-v">
                        <p class="text">More useless information</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="{% static 'vote.js' %}"></script>
<script>
        'use strict'

        usl_btn.addEventListener('click', function(e) {
            info.classList.toggle("hidden")
        })

</script>
</body>

</html>
