<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Home</title>
</head>
<body>
    <header>
        {% include 'menu.html' %}
    </header>
    <main>
        <form method="post" enctype="multipart/form-data" action="/create/" style="margin: 50px">
            {% csrf_token %}
            <label>{{ form.title.label }}</label>: {{ form.title }}<br>
            <label>{{ form.description.label }}</label>: {{ form.description }}<br>
            <label>{{ form.text.label }}</label>: {{ form.text }}<br>
            {{ form.thumbnail }}<br>
            <input type="submit" value="Create Post">
        </form>
    </main>
</body>
</html>