{% extends 'base.html' %}
{% load static %}

{% block title %} Create Post {% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class="content flex-reverse">
    <div class="element">
        <div class="element-header">Create Blog Post:</div>
        <div class="element-body-v">
            <form class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button class="button">Post</button>
            </form>
        </div>
    </div>
    <div class="details right">
        <div class="element">
            <div class="element-header">Details:</div>
            <div class="element-body-v">
                <p class="text">Sometimes I wonder about the Creator of the Universe.</p>
                <a class="button" href="{% url 'add_category_page' %}">Add New Category</a>
            </div>
        </div>
    </div>
</div>

{% else %}

<p>You should've logged in before coming here.</p>
<br>
<p>Now...</p>
<br>
<p><i>Do you want you figgin' toasted?</i></p>

{% endif %}

{% endblock %}