<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Home</title>
</head>
<body>
<header>
    {% include 'menu.html' %}
</header>
<main>
    <form method="POST" enctype="multipart/form-data" style="margin: 50px">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Submit</button>
    </form>
</main>
</body>
</html>