{% extends 'base.html' %}
{% load static %}

{% block title %} Delete Post {% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class="content flex-reverse">
    <div class="element">
        <div class="element-header">Delete Blog Post:</div>
        <div class="element-body-v">
            <form class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="post">
                    <p class="post-title" style="margin:15px 0">Delete "{{ post.title }}"?</p>
                    <div class="post-top-divider"></div>
                    <p class="post-description">Sure you wanna get rid of it? Forever?</p>
                    <i><p class="post-text" style="margin:30px 0; padding: 0">Wasn't a very good one, eh?</p></i>
                    <button class="button">Delete</button>
                </div>
            </form>
        </div>
    </div>
    <div class="details right">
        <div class="element">
            <div class="element-header">Details:</div>
            <div class="element-body-v">
                <p class="text">We Earth Men have a talent for ruining big, beautiful things.</p>
            </div>
        </div>
    </div>
</div>

{% else %}

<p>You should've logged in before coming here.</p>
<br>
<p>Now...</p>
<br>
<p><i>Do you want you figgin' toasted?</i></p>

{% endif %}

{% endblock %}