{% extends 'base.html' %}
{% load static %}

{% block title %} Add New Category {% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class="content flex-reverse">
    <div class="element">
        <div class="element-header">Add New Category:</div>
        <div class="element-body-v">
            <form class="form" method="POST">
                {% csrf_token %}
                {{ form }}
                <button class="button">Add</button>
            </form>
        </div>
    </div>
    <div class="details right">
        <div class="element">
            <div class="element-header">Details:</div>
            <div class="element-body-v">
                <p class="text">I couldn't figure out multiple forms on one page.</p>
            </div>
        </div>
    </div>
</div>

{% else %}

<p>You should've logged in before coming here.</p>
<br>
<p>Now...</p>
<br>
<p><i>Do you want you figgin' toasted?</i></p>

{% endif %}

{% endblock %}