<div class="post">
    <div class="post-header">
        <p class="post-title">{{ post.title }}</p>
        <p class="post-date">{{ posts.date }}</p>
    </div>
    <div class="post-body">
        <p class="post-description">{{ post.description }}</p>
    </div>
    <div class="post-footer">
        <div class="vote" id="like">
            <p>like</p>
            <div class="vote-button-divider"></div>
            <p id="likes">0</p>
        </div>
        <div class="vote" id="dislike">
            <p>dislike</p>
            <div class="vote-button-divider"></div>
            <p id="dislikes">0</p>
        </div>
    </div>
</div>